@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
}
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #0a6cd5;
}

.title{
    color: aliceblue;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: red;
}
.nav-bar {
    display: none;
}
#default {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.cards {
    display: block;
}

/* ----------Section Buttons------------ */
.sec-btn {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    margin: 50px;
  }
  .sec-btn img {
      width: 150px;
  }
  .sec-btn span {
      display: block; 
      margin-top: 5px;
  }
  
  .sec-btn:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  .sec-btn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .sec-btn:hover::before {
    width: 250%;
  }
  
    /* ----------Nav Buttons------------ */
  .nav-item {
      padding: 17px 40px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      background-color: white;
      box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bolder;
      transition: all 0.5s ease;
      color: black;
  }
  
  .nav-item:hover {
      letter-spacing: 3px;
      background-color: #ff6f6f;
      color: #ffffff;
      box-shadow: #ffa4a4 0px 7px 29px 0px;
  }
  
  .nav-item:active {
      letter-spacing: 3px;
      background-color: #ff5757;
      color: hsl(0, 0%, 100%);
      box-shadow: #ffffff 0px 0px 0px 0px;
      transform: translateY(10px);
      transition: 100ms;
  }

#content{
    margin: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
}

/* .section-header{

} */

.detail-title{
    font-size: 18px;

    padding-left: 10px;
    font-weight: 600;
}

.text-field{
    margin-top: -15px;
    font-size: 22px;
}

.btn-list{
    /* gap: -50px; */
}

.button{
    margin-top: 28px;
    height: 30px;
    margin-right: -3.5px;
    border: none;
    cursor: pointer;
}

#CustomerAddress{
    width: 200px;
}

#btn-save-customer, #btn-save-item{
    background-color: #3af83a;
    color: #000000;
}

#btn-remove-customer, #btn-remove-item{
    background-color: #e93030;
    color: rgb(255, 255, 255);
}

#btn-update-customer, #btn-update-item{
    background-color: #f0df26;
}

#btn-getall-customer, #btn-getall-item{
    background-color: #06728d;
    color: white;
}

#btn-clearall-customer, #btn-clearall-item{
    background-color: rgb(137, 5, 155);
    color: white;
}


.table table th{
    background-color: #6a7fc5;
    color: #ffffff;
}

.table table th{
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
    padding-left: 15px;
    width: 20vw;
    height: 4vw;
    border: 0.5px solid #ffffff;
    text-align: center;
    border-radius: 10px;
} 
.table table td{
    font-size: 17px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    padding-left: 15px;
    width: 20vw;
    height: 4vw;
    border: 0.5px solid aliceblue;
    text-align: left;
}

.table table tr:hover{
    background-color: #7e7e7e;
    color: #ffffff;
    cursor: pointer;
}

#customer-table-body, #item-table-body{
    font-size: 50px;
    background-color: #cfcfcf;
}

.section{
    display: none;
}

.section:target{
    display: block;
}

/*=====Order Section Styles=====*/

/* #orderSection{
    background-color: rgb(138, 231, 231);
} */

.card-container{
    padding-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 30% 40% 27%;
}

.card{
    background-color: aliceblue;
}

.card-head{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(7, 181, 7);
}

.card-head p{
    color: white;
    padding-left: 20px;
}

.card-content{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 10px;
    padding-left: 15px;
}

#OrderSectionCustomerAddress{
    width: 100%;
}

.card-content textarea{
    margin-top: -15px;
}

.card-content-itemdetails-tab{
    display: grid;
    grid-template-columns: 50% 28% 22%;
    gap: 100px;
}

#ItemName{
    width: 180px;
}

#ItemQty{
    width: 80px;
}

.order-quantity-div{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 100%;
}

#OrderQuantity{
    width: 180%;
}

.add-item-button-div{
    margin-left: 459px;
    margin-top: 23px;
}

.add-item-button{
    color: white;
    height: 28px;
    width: 80px;
    background-color: red;
    cursor: pointer;
}

.bill-card-content{
    padding-left: 15px;
}

.total{
    color: rgb(44, 162, 236);
    font-size: 25px;
}

.sub-total{
    color: red;
    margin-top: -18px;
    font-size: 25px;
}

.cash-discount-div{
    display: grid;
    grid-template-columns: 50% 50%;
}

#Balance{
    width: 91.5%;
}

.purchase-button-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#purchase-button{
    height: 28px;
    cursor: pointer;
    color: white;
    background-color: rgb(4, 163, 4);
}

.order-table-container{
    display: flex;
    justify-content: center;
    margin-top: 38px;
}


#order-table thead{
    background-color: rgb(0, 173, 35);
}

#order-table thead tr th{
    color: white;
    font-size: 17px;
    font-weight: 50;
    font-family:'Times New Roman', Times, serif;
    padding-left: 15px;

    height: 3vw;
    border: 0px solid aliceblue;
    text-align: left;
}

#order-table tbody tr td{
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 50;
    font-family:'Times New Roman', Times, serif;
    padding-left: 15px;

    height: 3vw;
    border: 0px solid aliceblue;
    text-align: left;
}

.itemcode-column{
    width: 10vw;
}
.itemname-column{
    width: 15vw;
}
.price-column{
    width: 10vw;
}
.quantity-column{
    width: 12vw;
}
.total-column{
    width: 10vw;
}

#order-section textarea{
    text-align: left;
    font-size: 20px;
    width: 180px;
    height: 30.5px;
}



#order-section .card-invoice-details textarea{
    padding-top: 6px;
    /* font-size: 20px; */
}

#order-section .card-item-select textarea{
    padding-top: 6px;
    font-size: 20px;
}

#order-section #SelectItemCode{
    width: 220px;
}

#order-section #OrderSectionItemPrice{
    width: 150px;
}

#order-section #OrderSectionItemQty{
    width: 100px;
}

#order-section #OrderQuantity{
    width: 530px;
}

#date-picker{
    font-size: 15px;
    margin-top: -20px;
    width: 180px;
    height: 30.5px;
}

#down-arrow-icon{
    padding-top: -20px;
    margin-left: -30px;
}

#customer-select-field{
    padding-top: -10px;
    width: 180px;
    height: 20px;
}

#Item{
    margin-top: -10px;
    width: 182px;
    height: 30px;
}

/* #Cash{
    direction: rtl;
} */
